$lightBackground: #e9e3c9;
// TODO: Placeholder variable names until we know how the colours will be used.
$bbBlue: #749ba8;
$bbBlueDark: #476169;
$bbBrown: #c18649;
$bbBrownDark: #8a6033;
$bbYellow: #e3ba41;
$bbYellowDark: #aa8c31;
$bbGreen: #628355;
$bbGreenDark: #465e3d;
$bbRed: #ee1d24;
$bbDarkRed: #a8161b;

$fontGrey: #4a4a4a;
