@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");

body {
  font-size: 12px;
  margin: 0;
  font-weight: 400;
  color: red;
  background-color: #e9e3c9;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
